@import "tailwindcss";
@import "primereact/resources/themes/lara-light-cyan/theme.css";

@plugin './hero.js';


 @source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
 @custom-variant dark (&:is(.dark *));


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


.hero-section {
  background-image: url("/img/p2_1.jpg");
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
}

.bg-layer{
  background-color: rgba(0, 0, 0, 0.5);

}

/* .core{
  background-image: url('/img/p3.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
} */
